html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}
body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #797979;
	font-size: 16px;
	line-height: 1.375;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
	color: #3A4554;
	margin-top: 0;
}
p {
	margin-top: 0;
	margin-bottom: 30px;
}
img {
	max-width: 100%;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.header {
	box-shadow: 0px 4px 24px rgba(150, 163, 181, 0.18);
	text-align: center;
	z-index: 1;
	position: relative;
}
.header .container {
	position: relative;
}
.logo {
	width: 110px;
	height: auto;
	margin: 10px 0;
}
.hamburger {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 15px;
	top: calc(50% - 20px);
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='30' viewBox='0 0 20 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.12014 2.35769H18.928C19.2195 2.33513 19.4919 2.20113 19.6907 1.98254C19.8894 1.76395 19.9998 1.4769 19.9998 1.17885C19.9998 0.880792 19.8894 0.593734 19.6907 0.375144C19.4919 0.156555 19.2195 0.0225663 18.928 0H1.12014C0.828629 0.0225663 0.556226 0.156555 0.357487 0.375144C0.158747 0.593734 0.0483398 0.880792 0.0483398 1.17885C0.0483398 1.4769 0.158747 1.76395 0.357487 1.98254C0.556226 2.20113 0.828629 2.33513 1.12014 2.35769Z' fill='%233A4554'/%3E%3Cpath d='M18.928 16.6426H1.12014C0.828629 16.6651 0.556226 16.7991 0.357487 17.0177C0.158747 17.2363 0.0483398 17.5234 0.0483398 17.8214C0.0483398 18.1195 0.158747 18.4065 0.357487 18.6251C0.556226 18.8437 0.828629 18.9777 1.12014 19.0003H18.928C19.2195 18.9777 19.4919 18.8437 19.6907 18.6251C19.8894 18.4065 19.9998 18.1195 19.9998 17.8214C19.9998 17.5234 19.8894 17.2363 19.6907 17.0177C19.4919 16.7991 19.2195 16.6651 18.928 16.6426Z' fill='%233A4554'/%3E%3Cpath d='M1.19616 10.6787H12.0798C12.235 10.6841 12.3896 10.6575 12.5345 10.6007C12.6794 10.5439 12.8115 10.4579 12.9231 10.3479C13.0348 10.2379 13.1235 10.1061 13.1841 9.96045C13.2448 9.81475 13.276 9.6581 13.276 9.49984C13.276 9.34157 13.2448 9.18492 13.1841 9.03922C13.1235 8.89352 13.0348 8.76176 12.9231 8.65176C12.8115 8.54177 12.6794 8.45579 12.5345 8.39896C12.3896 8.34214 12.235 8.31562 12.0798 8.32099H1.19616C1.04102 8.31562 0.886403 8.34214 0.741522 8.39896C0.59664 8.45579 0.464476 8.54177 0.352864 8.65176C0.241251 8.76176 0.152482 8.89352 0.0918624 9.03922C0.031243 9.18492 0 9.34157 0 9.49984C0 9.6581 0.031243 9.81475 0.0918624 9.96045C0.152482 10.1061 0.241251 10.2379 0.352864 10.3479C0.464476 10.4579 0.59664 10.5439 0.741522 10.6007C0.886403 10.6575 1.04102 10.6841 1.19616 10.6787Z' fill='%233A4554'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left 10px;
	cursor: pointer;
}
.nav-close {
	/*background-image: url("data:image/svg+xml,%3Csvg width='22' height='35' viewBox='0 0 22 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z' fill='%23DEDEDE'/%3E%3Cpath d='M8.04213 14.8102C7.82389 14.8102 7.60569 14.7267 7.43944 14.5604C7.10612 14.2271 7.10612 13.6883 7.43944 13.355L13.4663 7.32811C13.7997 6.9948 14.3384 6.9948 14.6717 7.32811C15.005 7.66143 15.005 8.20018 14.6717 8.5335L8.64482 14.5604C8.47771 14.7267 8.26033 14.8102 8.04213 14.8102Z' fill='%23201E1C'/%3E%3Cpath d='M14.0666 14.8102C13.8484 14.8102 13.6302 14.7267 13.4639 14.5604L7.437 8.5335C7.10368 8.20018 7.10368 7.66143 7.437 7.32811C7.77031 6.9948 8.30907 6.9948 8.64238 7.32811L14.6693 13.355C15.0026 13.6883 15.0026 14.2271 14.6693 14.5604C14.5031 14.7267 14.2848 14.8102 14.0666 14.8102Z' fill='%23201E1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='22' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");*/
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='27' viewBox='0 0 18 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.6491 9.01558L17.6579 2.00652C18.1141 1.55061 18.1141 0.813468 17.6579 0.357558C17.202 -0.0983525 16.4649 -0.0983525 16.009 0.357558L8.9999 7.36662L1.99106 0.357558C1.53493 -0.0983525 0.798003 -0.0983525 0.342093 0.357558C-0.114031 0.813468 -0.114031 1.55061 0.342093 2.00652L7.35094 9.01558L0.342093 16.0246C-0.114031 16.4805 -0.114031 17.2177 0.342093 17.6736C0.569301 17.901 0.868045 18.0153 1.16658 18.0153C1.46511 18.0153 1.76364 17.901 1.99106 17.6736L8.9999 10.6645L16.009 17.6736C16.2364 17.901 16.5349 18.0153 16.8334 18.0153C17.132 18.0153 17.4305 17.901 17.6579 17.6736C18.1141 17.2177 18.1141 16.4805 17.6579 16.0246L10.6491 9.01558Z' fill='%233A4554'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: center 10px;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 10px;
	top: 20px;
}
.main-nav {
	display: none;
	/*padding-top: 50px;*/
}
.main-nav.show {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 999;
}
.main-nav.show:before {
	display: block;
	content: '';
	background: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.102);
	height: 81px;
	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 110px auto;
}
.main-nav ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.main-nav li {
	display: block;
	text-align: left;
	border-bottom: 1px solid #F3F3F3;
}
.main-nav a {
	display: inline-block;
	padding: 15px 25px;
	color: #3A4554;
	text-decoration: none;
	transition: color .25s ease-out;
	font-weight: 500;
	font-size: 16px;
}
.main-nav a:hover {
	color: #19998C;
}
.front-nav {
	border-top: 1px solid #EBEBEB;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 14px;
}
.front-nav .by {
	background: #E7E7E7;
	border-radius: 4px;
	padding: 5px 8px;
	display: inline-block;
	color: #3A4554;
	font-size: 14px;
	vertical-align: top;
}
.drop-cats {
	display: inline-block;
	border-radius: 4px;
	padding: 4px 55px 4px 10px;
	min-width: 220px;
	max-width: calc(100% - 120px);
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #ECECEC;
	color: #3A4554;
	font-size: 14px;
	position: relative;
}
.drop-cats:after {
	content: '';
	display: block;
	width: 16px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='24' viewBox='0 0 16 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.11973 9.29055L7.99973 13.1705L11.8797 9.29055C12.2697 8.90055 12.8997 8.90055 13.2897 9.29055C13.6797 9.68055 13.6797 10.3105 13.2897 10.7005L8.69973 15.2905C8.30973 15.6805 7.67973 15.6805 7.28973 15.2905L2.69973 10.7005C2.30973 10.3105 2.30973 9.68055 2.69973 9.29055C3.08973 8.91055 3.72973 8.90055 4.11973 9.29055Z' fill='%23212121' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: calc(50% - 12px);
	right: 8px;
}
.drop-cats.show:after {
	transform: rotate(-180deg);
}
.front-nav .categories {
	max-width: calc(100% - 30px);
	vertical-align: top;
	display: none;
}
.front-nav .categories.show {
	display: block;
	position: absolute;
	width: 100vw;
	left: 15px;
	background: #FFFFFF;
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.14);
	margin-top: 14px;
}
.front-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.front-nav li {
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
}
.front-nav a {
	color: #3A4554;
	text-decoration: none;
	font-size: 14px;
	transition: color .25s ease-out;
}
.front-nav a:hover {
	color: #19998C;
}
.home-products {
	margin-top: 40px;
	margin-bottom: 50px;
}
.home-products .row > div {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 20px;
	margin-bottom: 40px;
}
.home-products .image {
	padding-top: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: calc(100% - 40px);
	margin: 20px auto 30px;
}
.home-products a {
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.14);
	border-radius: 8px;
	display: block;
	text-decoration: none;
	transition: box-shadow .25s ease-out;
}
.home-products a:hover {
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.4);
}
.home-products h3 {
	padding: 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #3A4554;
	margin-bottom: 10px;
	text-decoration: none;
}
.home-products span {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #19998C;
}
.home-products span:after {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.61835 8.18074H13.4067L10.7126 5.48652C10.393 5.16705 10.393 4.64898 10.7126 4.32945C11.032 4.00998 11.5501 4.00998 11.8696 4.32945L15.9605 8.42036C16.2801 8.73983 16.2801 9.2579 15.9605 9.57743L11.8696 13.6683C11.7098 13.8281 11.5005 13.908 11.2911 13.908C11.0817 13.908 10.8723 13.8281 10.7126 13.6683C10.393 13.3489 10.393 12.8308 10.7126 12.5113L13.4067 9.8171H2.61835C2.1665 9.8171 1.80017 9.45078 1.80017 8.99892C1.80017 8.54707 2.1665 8.18074 2.61835 8.18074Z' fill='%2319998C'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: inline-block;
	content: '';
	width: 18px;
	height: 18px;
	margin-left: 6px;
	vertical-align: middle;
}
.load-products,
.load-blogs {
	text-align: center;
	margin-top: 70px;
}
.load-products div,
.load-blogs div {
	background: #19998C;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	padding: 12px 50px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	transition: background .25s ease-out;
}
.load-products div:hover,
.load-blogs div:hover {
	background: #00b3a1;
}
.load-blogs {
	margin-bottom: 70px;
}
.footer {
	background-image: url('../img/footer.png');
	background-repeat: repeat;
	background-position: left top;
	background-size: 50px 24px;
}
.footer .subscribe {
	padding: 80px 0;
	text-align: center;
}
.footer .subscribe h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 46px;
	color: #FFFFFF;
}
.footer .subscribe span {
	background: #FFFFFF;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	padding: 12px 34px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #19998C;
	cursor: pointer;
	display: inline-block;
	transition: background .25s ease-out;
}
.footer .subscribe span:hover {
	background: #ceefeb;
}
.footer .main {
	background: #F8F8F8;
	border-radius: 40px 40px 0px 0px;
	padding: 60px 0 30px;
}
.footer .copy {
	padding: 30px 15px 0;
	border-top: 1px solid rgba(238, 238, 238);
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.25px;
	color: #201E1C;
	margin-top: 30px;
}
.footer .copy .instagram,
.footer .copy .tiktok {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	text-indent: -9999px;
	margin-left: 15px;
	text-decoration: none;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}
.footer .copy .instagram {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11C13 12.1046 12.1046 13 11 13C9.89541 13 9 12.1046 9 11C9 9.89541 9.89541 9 11 9C12.1046 9 13 9.89541 13 11Z' fill='black'/%3E%3Cpath d='M15.7545 7.40301C15.6567 7.13819 15.5008 6.8985 15.2983 6.70175C15.1015 6.49917 14.862 6.34326 14.597 6.24553C14.3821 6.16207 14.0593 6.06272 13.4646 6.03565C12.8214 6.00632 12.6285 6 11.0001 6C9.37147 6 9.17861 6.00616 8.53553 6.03549C7.94091 6.06272 7.61791 6.16207 7.40317 6.24553C7.13819 6.34326 6.8985 6.49917 6.70191 6.70175C6.49933 6.8985 6.34342 7.13803 6.24553 7.40301C6.16207 7.61791 6.06272 7.94091 6.03565 8.53553C6.00632 9.17861 6 9.37147 6 11.0001C6 12.6285 6.00632 12.8214 6.03565 13.4646C6.06272 14.0593 6.16207 14.3821 6.24553 14.597C6.34342 14.862 6.49917 15.1015 6.70175 15.2983C6.8985 15.5008 7.13803 15.6567 7.40301 15.7545C7.61791 15.8381 7.94091 15.9374 8.53553 15.9645C9.17861 15.9938 9.37131 16 10.9999 16C12.6287 16 12.8215 15.9938 13.4645 15.9645C14.0591 15.9374 14.3821 15.8381 14.597 15.7545C15.1289 15.5493 15.5493 15.1289 15.7545 14.597C15.8379 14.3821 15.9373 14.0593 15.9645 13.4646C15.9938 12.8214 16 12.6285 16 11.0001C16 9.37147 15.9938 9.17861 15.9645 8.53553C15.9374 7.94091 15.8381 7.61791 15.7545 7.40301ZM11.0001 14.1317C9.27034 14.1317 7.86814 12.7297 7.86814 10.9999C7.86814 9.27018 9.27034 7.86814 11.0001 7.86814C12.7297 7.86814 14.1319 9.27018 14.1319 10.9999C14.1319 12.7297 12.7297 14.1317 11.0001 14.1317ZM14.2557 8.47622C13.8515 8.47622 13.5238 8.14852 13.5238 7.74432C13.5238 7.34013 13.8515 7.01243 14.2557 7.01243C14.6599 7.01243 14.9876 7.34013 14.9876 7.74432C14.9874 8.14852 14.6599 8.47622 14.2557 8.47622Z' fill='black'/%3E%3Cpath d='M11 0C4.9258 0 0 4.9258 0 11C0 17.0742 4.9258 22 11 22C17.0742 22 22 17.0742 22 11C22 4.9258 17.0742 0 11 0ZM17.2783 13.6041C17.2478 14.2765 17.1408 14.7356 16.9847 15.1374C16.6566 15.9859 15.9859 16.6566 15.1374 16.9847C14.7358 17.1408 14.2765 17.2476 13.6043 17.2783C12.9307 17.309 12.7156 17.3164 11.0002 17.3164C9.28461 17.3164 9.0696 17.309 8.39586 17.2783C7.72363 17.2476 7.2644 17.1408 6.86275 16.9847C6.44112 16.8261 6.05943 16.5775 5.74388 16.2561C5.42262 15.9407 5.17404 15.5589 5.01543 15.1374C4.85933 14.7358 4.75241 14.2765 4.72186 13.6043C4.69081 12.9306 4.68359 12.7154 4.68359 11C4.68359 9.28461 4.69081 9.06943 4.72169 8.39586C4.75224 7.72346 4.85899 7.2644 5.01509 6.86258C5.17371 6.44112 5.42245 6.05927 5.74388 5.74388C6.05927 5.42245 6.44112 5.17387 6.86258 5.01526C7.2644 4.85916 7.72346 4.75241 8.39586 4.72169C9.06943 4.69098 9.28461 4.68359 11 4.68359C12.7154 4.68359 12.9306 4.69098 13.6041 4.72186C14.2765 4.75241 14.7356 4.85916 15.1374 5.01509C15.5589 5.17371 15.9407 5.42245 16.2563 5.74388C16.5775 6.05943 16.8263 6.44112 16.9847 6.86258C17.141 7.2644 17.2478 7.72346 17.2785 8.39586C17.3092 9.06943 17.3164 9.28461 17.3164 11C17.3164 12.7154 17.3092 12.9306 17.2783 13.6041Z' fill='black'/%3E%3C/svg%3E%0A");
}
.footer .copy .tiktok {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0C4.92581 0 0 4.92581 0 11C0 17.0742 4.92581 22 11 22C17.0742 22 22 17.0742 22 11C22 4.92581 17.0742 0 11 0ZM16.5185 8.41642V9.90584C15.8162 9.9061 15.1338 9.76847 14.4902 9.49695C14.0763 9.32224 13.6908 9.09713 13.3381 8.82509L13.3487 13.4096C13.3443 14.4419 12.9359 15.4118 12.1967 16.1424C11.5951 16.7371 10.8329 17.1153 10.0066 17.2377C9.81252 17.2664 9.61495 17.2812 9.41514 17.2812C8.53071 17.2812 7.69106 16.9947 7.00421 16.4661C6.87496 16.3665 6.75134 16.2586 6.63364 16.1424C5.83253 15.3506 5.41943 14.2775 5.489 13.1486C5.54207 12.2893 5.88612 11.4697 6.45966 10.8274C7.21849 9.97739 8.28008 9.50559 9.41514 9.50559C9.61495 9.50559 9.81252 9.52059 10.0066 9.54933V10.1V11.6319C9.82257 11.5712 9.62599 11.5378 9.42129 11.5378C8.38428 11.5378 7.54531 12.3839 7.56082 13.4217C7.57066 14.0857 7.93336 14.6661 8.46832 14.986C8.71973 15.1364 9.00896 15.2296 9.3176 15.2465C9.55943 15.2598 9.79163 15.2261 10.0066 15.1551C10.7476 14.9104 11.282 14.2144 11.282 13.3937L11.2845 10.3237V4.71883H13.3357C13.3376 4.92207 13.3583 5.12037 13.3966 5.31253C13.5514 6.0903 13.9898 6.76509 14.6 7.22511C15.132 7.62639 15.7945 7.86427 16.5125 7.86427C16.513 7.86427 16.5189 7.86427 16.5184 7.8638V8.41642H16.5185Z' fill='black'/%3E%3C/svg%3E%0A");
}
.logo-footer {
	width: 200px;
	height: auto;
}
.footer-row {
	text-align: center;
}
.footer-row > div {
	margin-bottom: 50px;
}
.footer-row h4 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #201E1C;
	margin-bottom: 10px;
}
.footer-row h3 {
	font-weight: bold;
	font-size: 20px;
	color: #201E1C;
	margin-bottom: 10px;
}
.footer-row ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-row li {
	margin-bottom: 8px;
}
.footer-row li a {
	letter-spacing: 0.25px;
	color: #201E1C;
	opacity: 0.7;
	font-size: 14px;
	text-decoration: none;
	transition: color .25s ease-out;
}
.footer-row li a:hover {
	color: #19998C;
}
.footer-row p {
	font-size: 14px;
	color: #201E1C;
}
.footer-row form {
	font-size: 0;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
}
.footer-row input[type="email"] {
	height: 48px;
	width: calc(100% - 110px);
	display: inline-block;
	background: #FFFFFF;
	border-radius: 6px 0 0 6px;
	font-size: 14px;
	line-height: 48px;
	color: #9C9C9C;
	padding-left: 20px;
	border: none;
	outline: none;
}
.footer-row input[type="submit"] {
	height: 48px;
	background: #19998C;
	border-radius: 0px 6px 6px 0px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 110px;
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background .25s ease-out;
}
.footer-row input[type="submit"]:hover {
	background: #00b3a1;
}
.popup-newsletter {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .75);
	z-index: 9999;
	left: 0;
	top: 0;
	display: none;
}
.popup-newsletter .wrap {
	background: #FFFFFF;
	border-radius: 14px;
	max-width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 50px 30px 20px;
	text-align: center;
}
.popup-newsletter .image {
	background-image: url("data:image/svg+xml,%3Csvg width='129' height='128' viewBox='0 0 129 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.19' d='M64.5 121C96.2564 121 122 95.4802 122 64C122 32.5198 96.2564 7 64.5 7C32.7436 7 7 32.5198 7 64C7 95.4802 32.7436 121 64.5 121Z' fill='%2319998C'/%3E%3Cpath opacity='0.19' d='M64.5 108C89.0767 108 109 88.3005 109 64C109 39.6995 89.0767 20 64.5 20C39.9233 20 20 39.6995 20 64C20 88.3005 39.9233 108 64.5 108Z' fill='%2319998C'/%3E%3Cpath opacity='0.08' d='M64.5 88C77.4787 88 88 77.2548 88 64C88 50.7452 77.4787 40 64.5 40C51.5213 40 41 50.7452 41 64C41 77.2548 51.5213 88 64.5 88Z' fill='%2319998C'/%3E%3Cpath d='M100 54.1733L98.7203 54.9194L71.0425 71L65.6715 66.8832C65.3291 66.6187 64.9205 66.4763 64.506 66.4763C64.0915 66.4763 63.6829 66.6187 63.3405 66.8832L57.9695 71L29.036 54.1937L29 54.1733C29.1081 54.0784 29.2223 53.9902 29.3364 53.9088C29.5347 53.7664 29.739 53.6443 29.9492 53.529C30.55 53.217 31.2169 53.0271 31.9138 53H97.0802C97.7951 53.0339 98.474 53.2238 99.0868 53.5494C99.2731 53.6443 99.4473 53.7528 99.6155 53.8749C99.7537 53.9699 99.8798 54.0716 100 54.1733Z' fill='%232FB4A6'/%3E%3Cpath d='M100 53.9818L29.036 54L29 53.9818C29.1081 53.8967 29.2223 53.8177 29.3364 53.7447L29.9491 53.4043L62.5747 35.4923C63.7701 34.8359 65.2179 34.8359 66.4193 35.4923L99.0809 53.4226L99.6095 53.7143C99.7537 53.7994 99.8799 53.8906 100 53.9818Z' fill='%2319998C'/%3E%3Cpath d='M89.9961 74.7719H39.0099C38.6523 74.7719 38.3613 74.523 38.3613 74.2194V42.8056C38.3613 40.4438 40.2951 38.5312 42.6834 38.5312H86.3166C88.705 38.5312 90.6387 40.4438 90.6387 42.8056V74.2194C90.6448 74.529 90.3538 74.7719 89.9961 74.7719Z' fill='white'/%3E%3Cpath d='M64.2456 66.24C64.3123 66.2157 64.379 66.1975 64.4517 66.1914C64.379 66.1975 64.3062 66.2157 64.2456 66.24Z' fill='%23F08A00'/%3E%3Cpath d='M64.5547 66.1914C64.6274 66.1975 64.6941 66.2096 64.7608 66.24C64.6941 66.2157 64.6274 66.1975 64.5547 66.1914Z' fill='%23F08A00'/%3E%3Cpath d='M57.4866 69.2105L57.9048 68.8887L57.4502 69.1922L57.4866 69.2105Z' fill='%23F7AC00'/%3E%3Cpath d='M57.5912 71.0094L57.5551 70.9893L58 70.6537L29.0202 54C27.8478 54.9867 27.0721 56.5239 27 58.2557V92.0396C27.0661 93.6104 27.7035 95.0133 28.6955 96L57.5912 71.0094Z' fill='%2319998C'/%3E%3Cpath d='M99.9742 54L71 70.6563L100.305 96C101.345 94.9594 102 93.4556 102 91.7839V58.5182C102 56.6787 101.207 55.0406 99.9742 54Z' fill='%2319998C'/%3E%3Cpath d='M71.1622 70.4362L65.6905 66.3991C65.3416 66.1397 64.9254 66 64.5031 66C64.0746 66 63.6645 66.1397 63.3157 66.3991L57.8439 70.4362L57.4216 70.7887L28 95.5501C28.9303 96.4546 30.1667 97 31.5193 97H97.4807C98.8333 97 100.07 96.448 101 95.5434L71.1622 70.4362Z' fill='%231EA597'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	margin-bottom: 10px;
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
}
.close-popup {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='35' viewBox='0 0 22 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z' fill='%23DEDEDE'/%3E%3Cpath d='M8.04213 14.8102C7.82389 14.8102 7.60569 14.7267 7.43944 14.5604C7.10612 14.2271 7.10612 13.6883 7.43944 13.355L13.4663 7.32811C13.7997 6.9948 14.3384 6.9948 14.6717 7.32811C15.005 7.66143 15.005 8.20018 14.6717 8.5335L8.64482 14.5604C8.47771 14.7267 8.26033 14.8102 8.04213 14.8102Z' fill='%23201E1C'/%3E%3Cpath d='M14.0666 14.8102C13.8484 14.8102 13.6302 14.7267 13.4639 14.5604L7.437 8.5335C7.10368 8.20018 7.10368 7.66143 7.437 7.32811C7.77031 6.9948 8.30907 6.9948 8.64238 7.32811L14.6693 13.355C15.0026 13.6883 15.0026 14.2271 14.6693 14.5604C14.5031 14.7267 14.2848 14.8102 14.0666 14.8102Z' fill='%23201E1C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='22' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center 10px;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: 15px;
}
.popup-newsletter h3 {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: #201E1C;
}
.popup-newsletter label {
	font-size: 12px;
	color: rgba(33, 33, 33, 0.87);
	margin: 0 0 5px;
	display: block;
	text-align: left;
}
.popup-newsletter input,
.popup-newsletter textarea {
	font-size: 14px;
	color: rgba(33, 33, 33, 0.6);
	width: 100%;
	border: 1px solid #DADCE0;
	border-radius: 4px;
	padding: 15px 12px;
	margin-bottom: 15px;
	outline: none;
	resize: none;
	font-family: 'Lato';
}
.popup-newsletter textarea {
	height: 80px;
}
.popup-newsletter input[type="submit"] {
	background: #19998C;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	padding: 12px 50px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	transition: background .25s ease-out;
	width: auto;
}
.popup-newsletter input[type="submit"]:hover {
	background: #00b3a1;
}
.breadcrumbs {
	background: #EFFCFA;
	padding: 20px 0;
	font-weight: 500;
	font-size: 14px;
	color: #201E1C;
}
.breadcrumbs a {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	color: #6C6C6C;
}
.breadcrumbs span {
	display: inline-block;
	width: 6px;
	height: 10px;
	vertical-align: middle;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46323 0.244072C1.1285 -0.0813574 0.585773 -0.0813574 0.251045 0.244072C-0.0836818 0.569502 -0.0836818 1.09716 0.251045 1.42259L3.93067 5.00001L0.251045 8.57743C-0.0836818 8.90286 -0.0836818 9.43052 0.251045 9.75595C0.585773 10.0814 1.1285 10.0814 1.46323 9.75595L5.74895 5.58927C6.08368 5.26384 6.08368 4.73618 5.74895 4.41075L1.46323 0.244072Z' fill='%236C6C6C'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 12px;
}
.single-product {
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
}
.single-product .image,
.single-product .description {
	flex: 0 0 100%;
	max-width: 100%;
}
.single-product .image {
	text-align: center;
}
.single-product .image img {
	max-width: 385px;
	height: auto;
	width: 100%;
}
.single-product .description {
	padding-top: 40px;
}
.single-product .description .text {
	margin-bottom: 25px;
}
.buy-now {
	background: #19998C;
	border-radius: 6px;
	padding: 12px 35px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	transition: background .25s ease-out;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.buy-now:hover {
	background: #00b3a1;
}
.similar-products {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #3A4554;
	padding-bottom: 25px;
	margin-bottom: 40px;
}
.similar-products:after,
.blog-head:after,
.latest-blogs:after,
.why-subscribe:after {
	background-image: url("data:image/svg+xml,%3Csvg width='105' height='10' viewBox='0 0 105 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.46154L104 1L1 9L104 7.15385' stroke='%2319998C' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100px;
	height: 10px;
	display: block;
	content: '';
	position: absolute;
	left: calc(50% - 50px);
	bottom: 0;
}
.blog-head {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	color: #3A4554;
	margin: 25px 0;
	padding-bottom: 25px;
	position: relative;
}
.blogs {
	margin-top: 50px;
	margin-bottom: 70px;
}
.blogs article {
	margin-bottom: 60px;
}
.blogs .image a {
	display: block;
	padding-top: 67%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
}
.blogs .meta {
	font-size: 14px;
	color: #9A9A9A;
}
.blogs h2 a {
	font-weight: bold;
	font-size: 30px;
	color: #3A4554;
	text-decoration: none;
}
.blogs .meta p {
	margin: 15px 0 20px;
	font-size: 16px;
	color: #3A4554;
}
.user-icon,
.calendar-icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 6px;
	vertical-align: middle;
}
.user-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8 0C3.584 0 0 3.584 0 8C0 12.416 3.584 16 8 16C12.416 16 16 12.416 16 8C16 3.584 12.416 0 8 0ZM8 2.4C9.328 2.4 10.4 3.472 10.4 4.8C10.4 6.128 9.328 7.2 8 7.2C6.672 7.2 5.6 6.128 5.6 4.8C5.6 3.472 6.672 2.4 8 2.4ZM8 13.76C6 13.76 4.232 12.736 3.2 11.184C3.224 9.592 6.4 8.72 8 8.72C9.592 8.72 12.776 9.592 12.8 11.184C11.768 12.736 10 13.76 8 13.76Z' fill='%239A9A9A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.calendar-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 1.48571H12.5714V0H11.0476V1.48571H4.95235V0H3.42854V1.48571H2.66663C1.82092 1.48571 1.15044 2.15429 1.15044 2.97143L1.14282 13.3714C1.14282 14.1886 1.82092 14.8571 2.66663 14.8571H13.3333C14.1714 14.8571 14.8571 14.1886 14.8571 13.3714V2.97143C14.8571 2.15429 14.1714 1.48571 13.3333 1.48571ZM13.3333 13.3714H2.66663V5.2H13.3333V13.3714ZM4.19044 6.68571H7.99996V10.4H4.19044V6.68571Z' fill='%239A9A9A'/%3E%3C/svg%3E%0A");
	margin-left: 15px;
}
.blog-more {
	background: #D1F2EF;
	border-radius: 4px;
	padding: 8px 14px;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #19998C;
	text-decoration: none;
	transition: background .25s ease-out;
}
.blog-more:hover {
	background: #71e8de;
}
.single-post {
	max-width: 730px;
	margin: 50px auto 80px;
}
.single-post h2 {
	font-size: 30px;
}
.single-post h3 {
	font-size: 28px;
}
.single-post h4 {
	font-size: 26px;
}
.single-post h5 {
	font-size: 24px;
}
.single-post h6 {
	font-size: 20px;
}
.single-post img {
	width: 100%;
}
.latest-blogs {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #3A4554;
	padding-bottom: 25px;
	margin-bottom: 50px;
}
.related-posts {
	margin-bottom: 70px;
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}
.related-posts > div {
	margin-bottom: 40px;
}
.related-posts a {
	display: block;
	height: 100%;
	text-decoration: none;
	background: #FFFFFF;
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.14);
	border-radius: 8px;
	transition: box-shadow .25s ease-out;
	padding-bottom: 25px;
}
.related-posts a:hover {
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.4);
}
.related-posts .image {
	padding-top: 67%;
	border-radius: 8px 8px 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}
.related-posts h3 {
	font-weight: bold;
	font-size: 20px;
	color: #3A4554;
	padding: 0 18px;
}
.related-posts p {
	font-size: 14px;
	color: #797979;
	padding: 0 18px;
	margin-bottom: 20px;
}
.related-posts .meta {
	padding: 0 130px 0 18px;
	font-size: 12px;
	color: #797979;
	position: relative;
}
.related-posts .meta span {
	color: #19998C;
	position: absolute;
	right: 25px;
}
.single-head {
	max-width: 730px;
	margin: 25px auto;
	font-size: 14px;
	color: #3A4554;
}
.single-head h1 {
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 30px;
	color: #3A4554;
}
.single-head .user-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7.99951 0C3.58351 0 -0.000488281 3.584 -0.000488281 8C-0.000488281 12.416 3.58351 16 7.99951 16C12.4155 16 15.9995 12.416 15.9995 8C15.9995 3.584 12.4155 0 7.99951 0ZM7.99951 2.4C9.32751 2.4 10.3995 3.472 10.3995 4.8C10.3995 6.128 9.32751 7.2 7.99951 7.2C6.67151 7.2 5.59951 6.128 5.59951 4.8C5.59951 3.472 6.67151 2.4 7.99951 2.4ZM7.99951 13.76C5.99951 13.76 4.23151 12.736 3.19951 11.184C3.22351 9.592 6.39951 8.72 7.99951 8.72C9.59151 8.72 12.7755 9.592 12.7995 11.184C11.7675 12.736 9.99951 13.76 7.99951 13.76Z' fill='%233A4554'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.000488281)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	width: 16px;
	height: 16px;
	margin-right: 6px;
	margin-left: 0;
}
.single-head .calendar-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3328 1.48571H12.5709V0H11.0471V1.48571H4.95186V0H3.42805V1.48571H2.66614C1.82043 1.48571 1.14995 2.15429 1.14995 2.97143L1.14233 13.3714C1.14233 14.1886 1.82043 14.8571 2.66614 14.8571H13.3328C14.1709 14.8571 14.8566 14.1886 14.8566 13.3714V2.97143C14.8566 2.15429 14.1709 1.48571 13.3328 1.48571ZM13.3328 13.3714H2.66614V5.2H13.3328V13.3714ZM4.18995 6.68571H7.99948V10.4H4.18995V6.68571Z' fill='%233A4554'/%3E%3C/svg%3E%0A");
	width: 16px;
	height: 16px;
	margin-right: 6px;
}
.about-wrap {
	margin: 50px 0 80px;
	color: #3A4554;;
}
.about-wrap > :first-child {
	margin-bottom: 50px;
}
.about-wrap h1 span {
	position: relative;
}
.about-wrap h1 span:before {
	content: '';
	display: inline-block;
	height: 6px;
	background: #19998C;
	position: absolute;
	z-index: -1;
	bottom: 4px;
	width: 100%;
	left: 0;
}
.btn {
	text-decoration: none;
	background: #19998C;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	padding: 12px 18px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	display: inline-block;
	transition: background .25s ease-out;
}
.btn:hover {
	background: #00b3a1;
}
.page-template-newsletter .breadcrumbs {
	padding-bottom: 0;
}
.page-template-newsletter .footer {
	background-image: none;
}
.page-template-newsletter .footer .subscribe {
	display: none;
}
.newsletter-head {
	background-image: url('../img/phone.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 350px;
	padding-top: 30px;
	padding-bottom: 380px;
}
.newsletter-head h1 {
	font-size: 30px;
	color: #3A4554;
}
.newsletter-head p {
	font-size: 14px;
	color: #3A4554;
}
.newsletter-head input[type="email"] {
	background: #FFFFFF;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	padding: 16px 20px;
	font-size: 14px;
	color: #9C9C9C;
	width: 100%;
	margin-bottom: 15px;
	border: none;
	outline: none;
}
.newsletter-head input[type="submit"] {
	width: 100%;
	text-align: center;
	background: #19998C;
	box-shadow: 0px 8px 16px rgba(150, 163, 181, 0.18);
	border-radius: 6px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	transition: background .25s ease-out, color .25s ease-out;
}
.newsletter-wrap {
	padding: 50px 0;
}
.why-subscribe {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #3A4554;
	padding-bottom: 25px;
	margin-bottom: 40px;
}
.why-col {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
	padding: 0 20px;
}
.why-col > div {
	box-shadow: 0px 10px 14px rgba(58, 69, 84, 0.14);
	border-radius: 8px;
	padding: 35px 20px 30px;
	text-align: center;
}
.why-col img {
	height: 86px;
	width: auto;
}
.why-col h3 {
	margin: 40px 0 20px;
	font-weight: bold;
	font-size: 34px;
	color: #3A4554;
}
.why-col p {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #3A4554;
}
.unsubscribe {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #5D6672;
	margin-top: 20px;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.header {
		text-align: right;
	}
	.logo {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
	}
	.hamburger {
		display: none;
	}
	.main-nav {
		display: block;
		padding-top: 0;
	}
	.main-nav li {
		display: inline-block;
	}
	.main-nav a {
		padding: 30px 25px;
	}
	.main-nav ul > :last-child a {
		background: #19998C;
		color: #fff;
		padding: 30px 40px;
		transition: background .25s ease-out;
	}
	.main-nav ul > :last-child a:hover {
		background: #00b3a1;
	}
	.nav-close {
		display: none;
	}
	.main-nav.show {
		position: static;
		width: auto;
		height: auto;
		left: unset;
		top: unset;
		background: transparent;
		z-index: unset;
	}
	.main-nav.show:before {
		display: none;
	}
	.drop-cats {
		display: none;
	}
	.front-nav .categories {
		display: inline-block;
		max-width: calc(100% - 110px);
	}
	.front-nav .categories.show {
		display: inline-block;
		position: static;
		width: auto;
		max-width: calc(100% - 110px);
		left: unset;
		background: transparent;
		box-shadow: none;
		margin-top: unset;
	}
	.front-nav li {
		display: inline-block;
		margin-bottom: 0;
	}
	.home-products .row > div {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.footer-row {
		display: flex;
		flex-wrap: nowrap;
		text-align: left;
	}
	.footer-row > :nth-child(1) {
		flex: 0 0 32%;
		max-width: 32%;
	}
	.footer-row > :nth-child(2) {
		flex: 0 0 18%;
		max-width: 18%;
	}
	.footer-row > :nth-child(3) {
		flex: 0 0 18%;
		max-width: 18%;
	}
	.footer-row > :nth-child(4) {
		flex: 0 0 32%;
		max-width: 32%;
	}
	.single-product .image,
	.single-product .description {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.single-product .image {
		text-align: left;
	}
	.buy-now {
		width: auto;
	}
	.blog-head {
		font-size: 40px;
		margin: 50px 0;
	}
	.blogs article {
		display: flex;
		flex-wrap: nowrap;
	}
	.blogs .image {
		flex: 0 0 330px;
		max-width: 330px;
	}
	.blogs .meta {
		flex: 0 0 calc(100% - 330px);
		max-width: calc(100% - 330px);
		padding-left: 40px;
	}
	.related-posts {
		display: flex;
		flex-wrap: nowrap;
	}
	.related-posts > div {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.single-head {
		margin: 50px auto;
	}
	.about-wrap {
		display: flex;
		flex-wrap: nowrap;
	}
	.about-wrap > :first-child {
		flex: 0 0 55%;
		max-width: 55%;
		padding-right: 80px;
		margin-bottom: 0;
	}
	.about-wrap h1 {
		font-size: 50px;
	}
	.about-wrap h1 span:before {
		height: 11px;
		bottom: 6px;
	}
	.about-wrap > :last-child {
		flex: 0 0 45%;
		max-width: 45%;
	}
	.about-wrap > :last-child img{
		width: calc(100% + 25px);
		max-width: calc(100% + 25px);
	}
	.newsletter-head {
		background-position: 95% bottom;
		background-size: auto 95%;
		padding-right: calc(100% - 500px);
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.newsletter-head h1 {
		font-size: 50px;
	}
	.newsletter-head input[type="email"] {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 150px);
	}
	.newsletter-head input[type="submit"] {
		color: #19998C;
		background: #fff;
		display: inline-block;
		vertical-align: top;
		width: 130px;
		margin-left: 10px;
	}
	.newsletter-head input[type="submit"]:hover {
		color: #fff;
		background: #19998C;
	}
	.newsletter-wrap {
		padding: 80px 0 110px;
	}
	.why-col {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	.unsubscribe {
		margin-top: 40px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
	.home-products .row > div {
		flex: 0 0 33.33333%;
		max-width: 33.3333%;
	}
}